<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Trainer Overview</title>




    <script src="js/jquery-1.10.1.min.js"></script>

    <script src="js/jquery-ui.min.js"></script>


    <script src="js/plugins/mostrar_nav.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.ui.touch-punch.js"></script>
    <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/app.js"></script>
    <script src="js/js.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/css.css">


    <script type="text/javascript">



    if ( !window.requestAnimationFrame ) {

        window.requestAnimationFrame = ( function() {

            return window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {

                window.setTimeout( callback, 1000 / 60 );

            };

        } )();

    }



    var selectedolditem = localStorage.getItem('selectedolditem');
   $(document).ready(function(){
        $('#mobile-nav').click(function(event) {
            $('nav').toggleClass('active');
        });
        
        $('#myModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        
        var currentGroup = Cookies.get("currentGroup");
        if(currentGroup){
            $(".menu-current-group").removeClass("hide"); 
            $(".menu-current-group a").attr("href",$(".menu-current-group a").attr("href")+currentGroup);
        }

        $('#menu_top li').click(function(e) {
            var id = $(this).attr("id");
            $('#menu_top li').removeClass('selected');
            $(this).addClass('selected');
            menuHighlight(id);
        });
        

        if (selectedolditem != null) {
            $('#'+selectedolditem).removeClass('selected');
            $('#'+selectedolditem).addClass('selected');
        }

        
    });


$(window).load(function() {
    $('.hexagon').find('img').each(function() {
        //var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
        var imgClass;
        if (this.width>this.height) {imgClass = 'wide';}
        else{imgClass = 'tall';}
        $(this).addClass(imgClass);
    })

     $('.hexagon_small').find('img').each(function() {
        //var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
        var imgClass;
        if (this.width>this.height) {imgClass = 'wide';}
        else{imgClass = 'tall';}
        $(this).addClass(imgClass);
    })

     $('.circle').find('img').each(function() {
        //var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
        var imgClass;
        if (this.width>this.height) {imgClass = 'wide';}
        else{imgClass = 'tall';}
        $(this).addClass(imgClass);
    })
})

var menuOpened = false;


function menuSwitch(){

    if(menuOpened == false){
        $($('#side_column').get()).css({
            left:'0'
        })
        menuOpened=true;
    } else{
        $($('#side_column').get()).css({
            left:'-190'
        })
        menuOpened=false;
    }
}
function menuToNormal(){
    if (menuOpened == true){
        $($('#side_column').get()).css({
            left: '-190'
        })
    }
}

function menuHighlight(val){
    localStorage.setItem("selectedolditem", val);
}




</script>


</head>
    <body>
        <div id="warningMSG">Houd uw scherm horizontaal om de app te kunnen gebruiken.</div>
        <div id="container" >
        <div id="side_column">
            <div id="menu">
                 
                <ul style="margin-bottom:-5px; margin-top:15px;"><a href="#" onClick="menuSwitch()"><li>
                    Informatie <img src="imgs/shared/Button_Menu.png" style="margin-left:20px;"/>
                </li></a></ul>
                
           <ul id="menu_top">  
               
                <li id='group_overview'>
                    <a href="/group-overview">Groepsoverzicht<img src="imgs/shared/Button_GroupOverview.png"></a>
                </li>
                <li id='group_activity' class="hide menu-current-group">
                    <a href="/group-activity?group_id=">Groepsactiviteit<img src="imgs/shared/Button_Group.png"></a>
                </li>
                {{#hasGame}}
                <li id='eva'class="menu-eva">
                    <a href="/eva">EVA<img src="imgs/shared/Button_EVA.png"></a>
                </li>
                <li id='map'class="menu-map">
                    <a href="/map">Game OGS
                        <img style="padding-top:1px"src="imgs/shared/Button_OGS.png">
                    </a>
                </li>
                {{/hasGame}}
            </ul>
            <ul id="menu_bottom">
                <li>
                    <a class="modal-link" href="/rehabilitant" data-toggle="modal" data-target="#myModal">
                        Voeg revalidant toe
                        <img src="imgs/shared/Button_GroupAssignment.png"/>
                    </a>
                </li>
                
                <li>
                    <a href="/logout">Uitloggen<img src="imgs/shared/Button_LogOut.png"></a>
                </li>
            </ul>

        </div>
    </div>

        <div id="content" onClick="menuToNormal()">
            {{{body}}}
        </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:100%; height:auto;">
                <div class="modal-content" style="padding-bottom:20px;">
                
                </div>
            </div>
        </div>

        <div style="height:0; overflow:hidden; position:fixed; top:-999px;">
            <svg class="clip-svg">
                <defs>
                    <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
                        <!--<polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />-->
                        <polygon points="0 0.5, 0.25 0, 0.75 0, 1 0.5, 0.75 1, 0.25 1" />
                    </clipPath>
                </defs>
            </svg> 
        </div>
    
    </body>
</html>