<script>

function readURL(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function (e) {
			$('#profile_pic')
			.attr('src', e.target.result)
		};
		reader.readAsDataURL(input.files[0]);
	}
}

var cluster;
function updateCluster(val) {
	cluster = parseInt(val);
	document.getElementById("cluster_text").innerHTML = "Gekozen cluster: " + cluster;
}

var minVal =90;
var maxVal = 180;
$(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 250,
      values: [ minVal, maxVal ], //GET VALUES
      slide: function( event, ui ) {
         document.getElementById("hartslag_range").innerHTML = "Minimale hartslag: " + ui.values[0] + " - maximale hartslag: " + ui.values[1];
      }
    });
    

  });

document.getElementById("hartslag_range").innerHTML = "Minimale hartslag: " + ui.values[0] + " - maximale hartslag: " + ui.values[1];
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<style type="text/css">
.center_content{margin: 0px auto;  display: block;}
.form_container{width: auto;height:auto; max-height: 85%; min-width: 1052px; background-color: #fafafa; border:1px solid #ededed; display: inline-block; margin: 0px auto; overflow:scroll; margin-top:10px; margin-bottom: 10px; font-size: 12px;}
.form_wrapper{width: 350px; overflow:hidden; float: left; padding:20px;}
table{ font-size: 12px;}
td{padding: 5px;}
input[type="submit"]{width: auto; border:0;padding: 10px 50px 10px 50px;}
input[type="submit"]:hover{background-color: #464646; color:#ffffff;}
hr{border-top: 1px solid #ffffff; border-bottom: 1px solid #ebebeb; width:90%;}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
textarea{resize:none;}
</style>


<center>


	<div class= "form_container">
		<form>
			<div class="form_wrapper">


				<!-- BASIS INFO -->
				<div class="img_container">

					<img id="profile_pic" src="#" alt="" class="hexagon"/>
				</div>
				<br>
				<br>
			<span class="btn btn-default btn-file">
				Upload foto<input type='file' onchange="readURL(this);"/>
			</span>
			</div>
			<div class="form_wrapper">
				<table >  
					<tr>
						<td>Voornaam:</td>
						<td><input type="text" name="voornaam" class="form-control"></td>
					</tr>
					<tr>
						<td>Achternaam:</td>
						<td><input type="text" name="achternaam" class="form-control"></td>
					</tr>
					<tr>
						<td>Geboortedatum:</td>
						<td><input type="date" name="geboortedatum" class="form-control"></td>
					</tr>
					<tr>
						<td>Geslacht:</td>
						<td><div class="btn-group" data-toggle="buttons"> <label class="btn btn-default"> <input type="radio" name="geslacht" value="man" /> Man </label>
							<label class="btn btn-default"> <input type="radio" name="geslacht" value="vrouw" /> Vrouw </label>
						</div>
					</td>
				</tr>

				<tr>
					<td>Trajectduur: </td>
					<td>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default"> <input type="radio" name="trajectduur" value="8"/>8 weken </label>
							<label class="btn btn-default"> <input type="radio" name="trajectduur" value="15"/>15 weken </label>
						</div>
					</td>
				</tr>

				<tr>
					<td>Cluster:</td>
					<td>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default"> <input type="radio" name="cluster" value="1" /> 1 </label>
							<label class="btn btn-default"> <input type="radio" name="cluster" value="2" /> 2 </label>
							<label class="btn btn-default"> <input type="radio" name="cluster" value="3" /> 3 </label>
						
							<label class="btn btn-default"> <input type="radio" name="cluster" value="4" /> 4 </label>
							<label class="btn btn-default"> <input type="radio" name="cluster" value="5" /> 5 </label>
							<label class="btn btn-default"> <input type="radio" name="cluster" value="6" /> 6 </label>
						</div>
					</td>
				</tr>
			</table>
		</div>
<div class="vertical_line"></div>
		<!-- CLUSTER EN KLACHTEN -->
		<div class= "form_wrapper" style="text-align:left;">
			<table width="100%">
				<tr><td>
					Diagnose: <textarea name="diagnose" class="form-control" rows="3"></textarea>
				</td></tr>
				<tr><td>
					Functie:<input type="text" name="functie" class="form-control">
				</td></tr>
				<tr><td>
					Doel:<textarea name="doel" class="form-control" rows="3"></textarea>
				</td></tr>
				<tr><td>
					<p>
  						<label for="amount">Hartslag:</label>
 						<p id ="hartslag_range">Minimale hartslag: 90 - maximale hartslag: 180</p>
					</p>
 
					<div id="slider-range"></div>
				</td></tr>
			</table>
		</div>

	</div><br>
		<input type="submit" value="Opslaan" class="btn btn-primary"/>
	</form>


</center>