<script src="js/plugins/panzoom.js"></script>
<script src="js/plugins/pointertouch.js"></script>
<script src="js/d3.min.js"></script>

{{> rehabilitantlist }}

	<div id="right_column">
		<div id="header">
			<h1>EVA overzicht</h1>
		</div>
		<div class="graph">

		</div>

		<div id="map_info_column">
		<div class="hideBTN" onClick ='allesClear()'>
			<img src="/imgs/shared/Button_Verberg_v2.png"/>
		</div>


		<div id="info">

	</div>
	
</div>
</div>

<script>

var temp_data = [];
temp_data = eval([
{{#each rehabilitants}}
{id:{{this.id}},name:"{{this.GetFullName}}",diagnose:"{{this.diagnosis}}",
min:{{this.minHeartRate}},max:{{this.maxHeartRate}},loc:[
{{#each this.states}}
{t:{{this.timestamp}},h:{{this.heartRate}},x:transformMapX({{this.x}},{{../id}}),y:transformMapY({{this.y}},{{../id}}) },
{{/each}}
]},
{{/each}}
]);


// for(var i = 0; i < 300; i++){

// }


clusterData();
function clusterData(){
	var numSteps = 12;

	for(var i = 0; i < temp_data.length;i++){
		var newHs = [];
		var step = Math.round(temp_data[i].loc.length/numSteps);
		for(var j = 0; j < temp_data[i].loc.length; j+=step){
			var avg = 0;
			for(var k = j; k < j+step; k++){
				if(j+step <= temp_data[i].loc.length){
						var heartrate = parseInt(temp_data[i].loc[k].h);
						avg += (heartrate);
							
				}
			}
			avg = Math.round(avg/step);
			newHs.push({h:avg});
		}
			temp_data[i].loc = newHs;
	}
}






var levelMargin = 25;
var colors = ["#9ECCCD","#C2F7FF","#FBEA28","#F8A56C","#F27374"];
var selectedPlayer = undefined;
var canShowHide = true;


$('.drag_box').bind('tap click', function(){
	showInfoBox();
	var dragBoxId = $(this).attr('device-id');
	for(var i = 0; i < temp_data.length; i++){
		if(temp_data[i].id === parseInt(dragBoxId)){
			displayInfo(temp_data[i]);
		}
	}
	$('.drag_box').each(function(){
		if(dragBoxId === $(this).attr('device-id')){
			$(this).css('opacity', '1');
		}else{
			$(this).css('opacity', '.3');

		}
	});
});


function displayInfo(_idData){
	console.log('abb');
	console.log(_idData)
	$('#info').empty();
	$('#info').append("<h3>" + _idData.name + "</h3>");
	$('#info').append("<p>" + _idData.diagnose + "</p>");
}


function showInfoBox(){
	if (canShowHide== true){
		canShowHide=false;
		$( '#map_info_column' ).animate({
            left: "+=200"
        }, 500, "swing")
	}
}

function allesClear(){
	$( '.drag_box' ).animate({
            	opacity: "1"
            })
	if (canShowHide== false){
		canShowHide = true;
		$( '#map_info_column' ).animate({
            left: "-=200"
            }, 500, "swing", function(){
				clearInfo();
				
        })
	}
}

function clearInfo(){
	$('#info').empty();
	$('#paths').empty();
	selectedPlayer = undefined;
	canShowHide=true;
}




var pixelMeterRatio = 1.73;
var originX = 743.67;
var originY = 914.64;

var markerScale = 0.5;

function transformMapX(x, device_id){
	return originX + x * pixelMeterRatio;
}

function transformMapY(y, device_id){
	return originY - y * pixelMeterRatio;
}
		
		(function() {	
			var $section = $('#inverted-contain');
			$section.find('.panzoom').panzoom({
				$zoomIn: $section.find(".zoom-in"),
				$zoomOut: $section.find(".zoom-out"),
				$zoomRange: $section.find(".zoom-range"),
				$reset: $section.find(".reset"),
				startTransform: 'scale(1.1)',
				increment: 0.5,
				minScale: 0.75,
				contain: 'invert',
				onChange: function(e, panzoom){
					scale = panzoom.getMatrix()[0];
					$(".marker").each(function(idx, elem){
						var mat = matrixToArray($(elem).css("transform"));

			//scaleX
			mat[0] =0.5 * 1/scale;
			//scaleY
			mat[3] =0.5 * 1/scale;

			$(elem).css("transform", arrayToMatrix(mat));
			//test({device_id: 1, heartrate: 89, x: 47.15, y:-41.17});
		});
				}
			}).panzoom('zoom');

			$('div.panzoom-parent').on('mousewheel.focal', function(e) {
				e.preventDefault();
				var delta = e.delta || e.originalEvent.wheelDelta;
				var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;

				$section.find('.panzoom').panzoom('zoom', zoomOut, {
					increment: 0.1,
					focal: e
				});
			});

			var dbPath
		})();

		function matrixToArray(str) {
			return str.match(/(-?[0-9\.]+)/g);
		}
		function arrayToMatrix(arr){
			var str = "matrix(";
				return str + arr[0] +","+arr[1]+","+arr[2]+","+arr[3]+","+arr[4]+","+arr[5]+")";
}

socket.on('dataClient', function(data){
	var device_id = parseInt(data.device_id);
		//var lat = parseFloat(data.lat);
		//var lon = parseFloat(data.lon);
		var x = parseFloat(data.x);
		var y = parseFloat(data.y);
		
		var heartrate = parseInt(data.heartrate);	
		
		var deviceMarker = $(".marker[device-id='"+device_id+"']");
		$(deviceMarker).find(".heartrate-text").text(heartrate);
		 
		var deviceDragBox =  $(".drag_box[device-id='"+device_id+"']");
	
		var mat = matrixToArray($(deviceMarker).css("transform"));

		//posX
		mat[4] = originX + x * pixelMeterRatio - $(deviceMarker).width() * markerScale;
		//posY
		mat[5] = originY - y * pixelMeterRatio - $(deviceMarker).height() * markerScale;

		var indx = getIndexOfId(device_id);
		$(deviceMarker).css("transform", arrayToMatrix(mat));			
		
		var newX = transformMapX(x, device_id);
		var newY = transformMapY(y, device_id);
		
		updateData({id:device_id,loc:{t:undefined,h:heartrate,x:newX,y:newY}});
		
		$(deviceDragBox).find(".circle").css( "border", "5px solid " + getColor(temp_data[indx],temp_data[indx].loc.length-2));	
		$(deviceMarker).children().css( "background-color", getColor(temp_data[indx],temp_data[indx].loc.length-2) );	
	});

	</script>

	<script src="js/evaVisualisatie.js"></script>
