<script src="js/plugins/panzoom.js"></script>
<script src="js/plugins/pointertouch.js"></script>
<script src="js/d3.min.js"></script>

{{> rehabilitantlist }}

	<div id="right_column">
		<div id="header">
			<h1>EVA overzicht</h1>
		</div>
		<div>
			<center>
				<h2>{{game}}</h2>
				{{#each games}}
				<a href="/eva?group_id={{../groupId}}&game_id={{this.id}}" class="btn btn-default {{#equals ../game.id this.id}}active{{/equals}}">{{this.id}}</a>
				{{/each}}
			</center>
		</div>
		<div class="graph">

		</div>

		<div id="map_info_column">
		<div class="hideBTN" onClick ='allesClear()'>
			<img src="/imgs/shared/Button_Verberg_v2.png"/>
		</div>


		<div id="info">

	</div>
	
</div>
</div>

<script>

var temp_data = [];
temp_data = eval([
{{#each rehabilitants}}
{id:{{this.id}},name:"{{this.GetFullName}}",diagnose:"{{this.diagnosis}}",doel:"{{this.goal}}",cluster:"{{this.cluster}}",week:"{{this.courseDuration}}", functie:"{{this.function}}",
min:{{this.minHeartRate}},max:{{this.maxHeartRate}},loc:[
{{#each this.states}}
{t:{{this.timestamp}},h:{{this.heartRate}} },
{{/each}}
]},
{{/each}}
]);


// for(var i = 0; i < 300; i++){

// }


clusterData();
function clusterData(){
	var numSteps = 12;
	
	for(var i = 0; i < temp_data.length;i++){
		var newHs = [];
		var step = Math.round(temp_data[i].loc.length/numSteps);
		if(step == 0)
			continue;
			
		for(var j = 0; j < temp_data[i].loc.length; j+=step){
			var avg = 0;
			for(var k = j; k < j+step; k++){
				if(j+step <= temp_data[i].loc.length){
						var heartrate = parseInt(temp_data[i].loc[k].h);
						avg += (heartrate);
							
				}
			}
			avg = Math.round(avg/step);
			newHs.push({h:avg});
		}
			temp_data[i].loc = newHs;
	}
}






var levelMargin = 25;
var colors = ["#9ECCCD","#C2F7FF","#FBEA28","#F8A56C","#F27374"];
var selectedPlayer = undefined;
var canShowHide = true;


$('.drag_box').bind('tap click', function(){
	showInfoBox();
	var dragBoxId = $(this).attr('device-id');
	for(var i = 0; i < temp_data.length; i++){
		if(temp_data[i].id === parseInt(dragBoxId)){
			displayInfo(temp_data[i]);
		}
	}
	$('.drag_box').each(function(){
		if(dragBoxId === $(this).attr('device-id')){
			$(this).css('opacity', '1');
		}else{
			$(this).css('opacity', '.3');

		}
	});
});


function displayInfo(_idData){
	console.log('abb');
	console.log(_idData)
	 var target = (_idData.max - _idData.min)/2 + _idData.min;
	 console.log(target);
	$('#info').empty();
	$('#info').append("<center><h3>" + _idData.name + "</h3></center><hr>");
	$('#info').append(
		"<p><b>Diagnose: </b>" + _idData.diagnose + " / "
		+"<b>Cluster: </b>" + _idData.cluster +" / "
		+"<b>Week: </b>" + _idData.week + " / "
		+"<b>Functie: </b>" + _idData.functie +" / "
		+"<b>Doel: </b>" + _idData.doel
		+"</p><hr>");
	$('#info').append(
		"<p><b>BPM Legenda</b><img src='imgs/shared/waterpas.png'></img>"
			+"<svg width='180px' height='30px'>"
			+"<text text-anchor='middle' x='73' y='20px'>"+_idData.min
			+"</text>"
			+"<text text-anchor='middle' x='111px'y='20px'>"+_idData.max
			+"</text>"
			+"<text text-anchor='middle' x='37px'y='20px'>"+(Math.round(_idData.min-(target/2)))
			+"</text>"
			+"<text text-anchor='middle' x='146px'y='20px'>"+(Math.round(_idData.max+(target/2)))
			+"</text>"				
			+"<line class='legendLines' x1='73' x2='73' y1='1'y2='7'/>"
			+"<line class='legendLines' x1='109' x2='109' y1='1'y2='7'/>"
			+"<line class='legendLines' x1='37' x2='37' y1='1'y2='7'/>"	
			+"<line class='legendLines' x1='146' x2='146' y1='1'y2='7'/>"				
			+"</svg>"
			+"</p><hr>");
}


function showInfoBox(){
	if (canShowHide== true){
		canShowHide=false;
		$( '#map_info_column' ).animate({
            left: "+=200"
        }, 500, "swing")
	}
}

function allesClear(){
	$( '.drag_box' ).animate({
            	opacity: "1"
            })
	if (canShowHide== false){
		canShowHide = true;
		$( '#map_info_column' ).animate({
            left: "-=200"
            }, 500, "swing", function(){
            	$('.graph').find("svg").empty();
				clearInfo();

					svg.append("text")
			        .attr("text-anchor","middle")
			        .attr("y","100px")
			        .attr("x",width/2)
			        .html("Geen revalidant geselecteerd");
			        })
		      $(".hoverInfo").find("h2").html('---');

	}
}

function clearInfo(){
	$('#info').empty();
	$('#paths').empty();

	selectedPlayer = undefined;
	canShowHide=true;
}


</script>

	<script src="js/evaVisualisatie.js"></script>
