

<div class="groups_container">
        {{#each groups}}
        <div class="group_wrapper">
            <a href="/group-activity?group_id={{this.id}}">
                <div class="img_container">
                    <img src="{{this.GetIcon}}" class = "hexagon"/>
                </div>
                <h3>{{this.name}}</h3>
            </a>
        </div>
        {{/each}}
</div>



<!--
<div id="container">
    <div class="row">
        {{#each groups}}
        <div class="col-md-3 col-sm-6 group">
            <a href="/overview?group_id={{this.id}}">
                <img src="{{this.GetIcon}}"/>
                <h2>{{this.name}}</h2>
            </a>
        </div>
        {{/each}}
    </div>
</div>
-->