
<div id="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 group">
            <a href="/overview">
            <img src="imgs/shared/portraitFrame.png"></img>
            </a>
            <h2> GROEP 1 </h2>
        </div>
        <div class="col-md-3 col-sm-6 group">
            <img src="imgs/shared/portraitFrame.png"></img>
            <h2> GROEP 2 </h2>
        </div>
        <div class="col-md-3 col-sm-6  group">
            <img src="imgs/shared/portraitFrame.png"></img>
            <h2> GROEP 3 </h2>
        </div>
            <div class="col-md-3 col-sm-6  group">
            <img src="imgs/shared/portraitFrame.png"></img>
            <h2> GROEP 4 </h2>
        </div>
    </div>
</div>