<style>
	.page_container{
		position: relative;
		width: 100%;
		height:100%;
	}

	.page_center{
		height:350px;
		width: 700px;
		position: absolute;
		top:50%;
		left: 50%;
		margin-top:-175px;
		margin-left: -350px;
		overflow: hidden;
	}

	.btn_group{
		float:left;
		width: 300px;
		overflow: hidden;
		text-align:center;
		padding: 25px;
	}


</style>


<div style="display: none;">
{{> rehabilitantlist }}
</div>

<div class="page_container">
	
	<div class="page_center">
		<div class="btn_group">
	<a href="/overview?group_id={{groupId}}">
		<img src="/imgs/shared/Logo_GreySquirrel.png"></img><br>
		<h2>Operation Grey Squirrel</h2>
	</a>
</div>
<div class="vertical_line"></div>
<div class="btn_group">
	<a href="#">
		<button class="btn btn-primary">Evaluatie</button>
	</a>
</div>
</div>
</div>
