



<div class="groups_container">
        <div class="group_wrapper" id="1">
            <a href="#" onClick="menuHighlight('group_activity')">
                <img src="imgs/views/group_overview/Flag_MaWo.png" />
                <h3>Maandag - Woensdag groep</h3>
            </a>
        </div>

        <div class="group_wrapper" id="2">
            <a href="#" onClick="menuHighlight('group_activity')">
                <img src="imgs/views/group_overview/Flag_WoVr.png" />
                <h3>Woensdag - Vrijdag groep</h3>
            </a>
        </div>
</div>


<script type="text/javascript">

$( document ).ready(function() {
$('.group_wrapper').click(function(){
    var i= this.id;
    $( this ).animate({
        marginTop: "-=25"
        }, 500, "swing")

    $('.group_wrapper').not(this).animate({
        opacity: 0.5,
    },500, function() {
        setTimeout (function(){
            window.location.href = "/group-activity?group_id=" + i;
        },500)
    })
});
});



</script>
<!-- OLD -->
<!--
<div class="groups_container">
        {{#each groups}}
        <div class="group_wrapper">
            <a href="/group-activity?group_id={{this.id}}" onClick="menuHighlight('group_activity')">
                <div class="img_container">
                    <div class="hexagon">
                        <img src="{{this.GetIcon}}"/>
                    </div>
                </div>
                <h3>{{this.name}}</h3>
            </a>
        </div>
        {{/each}}
</div> -->





<!--
<div id="container">
    <div class="row">
        {{#each groups}}
        <div class="col-md-3 col-sm-6 group">
            <a href="/overview?group_id={{this.id}}">
                <img src="{{this.GetIcon}}"/>
                <h2>{{this.name}}</h2>
            </a>
        </div>
        {{/each}}
    </div>
</div>
-->