<style>
	.page_container{
		position: relative;
		 width: calc(100% - 240px);
		height:100%;
		float: right;
	}

	.page_center{
		height:350px;
		width: 700px;
		position: absolute;
		top:50%;
		left: 50%;
		margin-top:-175px;
		margin-left: -350px;
		overflow: hidden;
	}

	.btn_group{
		float:left;
		width: 300px;
		overflow: hidden;
		text-align:center;
		padding: 25px;
	}


</style>

<script type="text/javascript">

$( document ).ready(function() {
	console.log({{groupId}});
$('.group_wrapper').click(function(){
    var i= this.id;
    console.log(i);
    $( this ).animate({
        marginTop: "-=25"
        }, 300, "swing")

    	$('.group_wrapper').not(this).animate({
        	opacity: 0.5,
    	},500, function() {
        	setTimeout (function(){
        		if (i=="group"){
        			console.log("Group id:" + {{groupId}});
            		window.location.href = "/overview?group_id=" + {{groupId}};
        		} else {
        			window.location.href = "/eva?group_id=" + {{groupId}};
        		}
        	},500)
    	})
	});
});
</script>

<div>
{{> rehabilitantlist }}
</div>

<div class="page_container">
	
	<div class="page_center">
		<div class="group_wrapper" id="group">
			<a href="#">
		<img src="/imgs/shared/Logo_GreySquirrel.png"/><br>
		<h2>Operation Grey Squirrel</h2>
	</a>
</div>
<div class="vertical_line"></div>
<div class="group_wrapper" id="eva">
	<a href="#">
		<img style="width: 200px;" src="/imgs/views/splashScreen/Logo_EVA.png"/><br>
		<h2>Evaluatie</h2>
	</a>
</div>
</div>
</div>
