<script src="js/plugins/panzoom.js"></script>
<script src="js/plugins/pointertouch.js"></script>
<style type="text/css">

.drag_box img{
	border: 5px solid #fddf29 !important;
}

</style>

<div id="rev_colulmn">
	<div id="groupName"> Groep Wo/Vr</div>
	<div id="rev_list">
		<ul id="draglist" style="height:280px">

			<li   class="drag_box" device-id="1" >
				<img src="imgs/heads/moniek.png">
				<h3>Momo Niek</h3>   
			</li>

			<li   class="drag_box" device-id="2" >
				<img src="imgs/heads/inge.png">
				<h3>Ings</h3>     
			</li>

			<li   class="drag_box" device-id="3">
				<img src="imgs/heads/inge.png">
				<h3>Ings</h3>     
			</li>

			<li   class="drag_box" device-id="4">
				<img src="imgs/heads/inge.png">
				<h3>Ings</h3>    
			</li>

			<li   class="drag_box" device-id="5">
				<img src="imgs/heads/badr.png">
				<h3>Bada man</h3>    
			</li>

			<li   class="drag_box" device-id="6">
				<img src="imgs/heads/badr.png">
				<h3>Ings</h3>     
			</li>

			<li   class="drag_box" device-id="7">
				<img src="imgs/heads/inge.png">
				<h3>Ings</h3>      
			</li>

			<li   class="drag_box" device-id="8">
				<img src="imgs/heads/inge.png">
				<h3>Ings</h3>      
				{{#each connectedDevices}}
				<li   class="drag_box" device-id="{{this.id}}" >
					<img src="{{this.rehabilitant.pictureUrl}}">
					<h3>{{this.rehabilitant.GetFullName}}</h3>   
				</li>
				{{/each}}
			</ul>
		</div>
	</div>


	<div id="right_column">
		<div id="header">
			<h1>Speloverzicht</h1>
		</div>
		<div id="map_info_column">

			<div id="info">
			<!-- 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu urna facilisis, feugiat orci in, semper mi. Praesent eu felis erat. Sed tristique lectus et justo porta, at bibendum dui 
		-->
	</div>
</div>
<div id="legend">
	<div id="game_timer">
		20:01
	</div>
	<div>
		<div id="phase1">
			KOUD
		</div>
		<div id="phase2">
			GOED
		</div>
		<div id="phase3">
			WARM
		</div>
	</div>
</div>


<section id="inverted-contain">
	<div style="overflow: hidden; position: relative;" class="panzoom-parent">
		<div class="panzoom">
			<div id="paths">
			</div>
			<div class="marker" device-id="1" >
				<div style="border-radius: 50%; width:75px; height:75px; background:#FF1D61; opacity:.8;">
				</div>
			</div>
			<img id="map" src="imgs/views/map/MRC.jpg">
		</div>
	</div>
</div>



<style>

#legend{
	width:200px;
	height:110px;
	position: absolute;
	z-index: 99;
	bottom:0px;
	background: rgba(255,255,255,.9);
	padding-left:10px;
	text-align: center;
	padding-top:10px;
}
#phase1{
	width:58px;
	position: relative;
	float:left;
	border-top:10px solid #77a4d6;
	color:#77a4d6;
	font-weight:bold;			
}
#phase2{
	width:58px;
	position: relative;
	float:left;
	border-top:10px solid #fddf29;
	color:#fddf29;
	font-weight:bold;
}
#phase3{
	width:58px;
	position: relative;
	float:left;
	border-top:10px solid #c66958;
	color:#c66958;
	font-weight:bold;
}
#map_info_column{
	width:200px;
	position: absolute;
	z-index: 99;
	background: rgba(255,255,255,.8);
	margin-top:50px;
	padding-bottom:20px;

	padding-left:10px;
}

#info{
	margin-top:20px;
	width:calc(100% - 10px);
	text-align: left;
	font-size:12px;
}
#game_timer{
	margin-top:10px;
	margin-bottom:10px;
	width:calc(100% - 10px);
	border-bottom:1px solid;
	border-top:1px solid;

	text-align: center;
	font-size:32px;
}


#inverted-contain .panzoom-parent
{ 
	width: 100%; 
	height: 100%; 
}
.path{
	background: red;
	position:absolute;

	z-index:999;
	width:100%;
	height:100%;
}
.marker{
	transform: matrix(0.2, 0, 0, 0.2, 500, 400);
	cursor: pointer;
	position: absolute; 
	z-index: 999;
	text-align: center;
}
.marker .heartrate-text{
	color: red;
}
</style>
<script>
var temp_data = [];
var tempHeartRate = [90,99,93,90,90,94,95,98,99,101,102,103,103]
temp_data = [
{id:1,name:"Momo Niek",diagnose:"Diagnose: knie & rug",loc:[{x:500,y:450},{x:450,y:435},{x:432,y:455},{x:422,y:510},{x:390,y:450},{x:380,y:470},{x:362,y:455}],hr:tempHeartRate},
{id:2,name:"Ings",diagnose:"Diagnose: knie & rug"}
];

var all_revs = [];

var colors = ["#66B3FF,#3B68FF","#FF5959","#FF8C8C","#E8D056"]

for(var i = 0; i < temp_data[0].loc.length;i++){
	console.log(i)
	//createPath(temp_data[0]);
}
		$('#paths').append('<svg width="500px" height="500px" style="position:absolute"> <path'+' d="'+createPath(temp_data[0])+'"stroke="'+(colors[Math.round(Math.random()*4)])+'" stroke-width="10" fill="none" />');

	function createPath(_userData){


		var path = "";

		for(var i = 0; i < _userData.loc.length; i++){
			if(i < 1){
				path += " M";
			}else{
				path += " L";
			}
			path += _userData.loc[i].x+" ";
			path += _userData.loc[i].y;
		}
		path += " ";
		return path;
	};


$('#map').bind('click', function(){
	console.log('clear')
	$('.drag_box').css('opacity', '1');
	$('#info').empty();

});

$('.marker').bind('touchend click', function(){
	var markerId = $(this).attr('device-id')
	;			$('.drag_box').each(function(){
		var dragBoxId = $(this).attr('device-id');
		if(dragBoxId === markerId){
							//-- change player info
							for(var i = 0; i < temp_data.length; i++){
								console.log(temp_data[i].id);
								if(temp_data[i].id === parseInt(markerId)){
									displayInfo(temp_data[i]);
								}
							}
							//
							$(this).css('opacity', '1');
						}else{
							$(this).css('opacity', '.3');
						}
						
					});
});


$('.drag_box').bind('tap click', function(){
	console.log('clicked on dragBox');
	var dragBoxId = $(this).attr('device-id');
	for(var i = 0; i < temp_data.length; i++){
		if(temp_data[i].id === parseInt(dragBoxId)){
			displayInfo(temp_data[i]);
		}
	}
	if(temp_data.length < parseInt(dragBoxId)){
		$('#info').empty();
	}
	$('.drag_box').each(function(){
		if(dragBoxId === $(this).attr('device-id')){
			$(this).css('opacity', '1');
		}else{
			$(this).css('opacity', '.3');

		}
	});
});


function displayInfo(_idData){
	$('#info').empty();
	$('#info').append("<h3>" + _idData.name + "</h3>");
	$('#info').append("<p>" + _idData.diagnose + "</p>");
			//			$('#info').append("<p>" + _idData.diagnose + "</p>");

		}
		//----




		var pixelMeterRatio = 1.44;
		var originX = 530;
		var originY = 900;
		var markerScale = 0.5;
		
		(function() {	
			var $section = $('#inverted-contain');
			$section.find('.panzoom').panzoom({
				$zoomIn: $section.find(".zoom-in"),
				$zoomOut: $section.find(".zoom-out"),
				$zoomRange: $section.find(".zoom-range"),
				$reset: $section.find(".reset"),
				startTransform: 'scale(1.1)',
				increment: 0.1,
				minScale: 1,
				contain: 'invert',
				onChange: function(e, panzoom){
					scale = panzoom.getMatrix()[0];
					$(".marker").each(function(idx, elem){
						var mat = matrixToArray($(elem).css("transform"));

					//scaleX
					mat[0] =0.5 * 1/scale;
					//scaleY
					mat[3] =0.5 * 1/scale;

					$(elem).css("transform", arrayToMatrix(mat));
					//test({device_id: 1, heartrate: 89, x: 47.15, y:-41.17});
				});
				}
			}).panzoom('zoom');
		})();
		function matrixToArray(str) {
			return str.match(/(-?[0-9\.]+)/g);
		}
		function arrayToMatrix(arr){
			var str = "matrix(";
				return str + arr[0] +","+arr[1]+","+arr[2]+","+arr[3]+","+arr[4]+","+arr[5]+")";
}

socket.on('dataClient', function(data){
	var device_id = parseInt(data.device_id);
		//var lat = parseFloat(data.lat);
		//var lon = parseFloat(data.lon);
		var x = parseFloat(data.x);
		var y = parseFloat(data.y);
		
		var heartrate = parseInt(data.heartrate);
		
		console.log("id: " + device_id + " - position: " + x + "  " + y);
		console.log("heartrate: " + heartrate);
		
		var deviceMarker = $(".marker[device-id='"+device_id+"']");
		$(deviceMarker).find(".heartrate-text").text(heartrate); 
		
		var mat = matrixToArray($(deviceMarker).css("transform"));

		//posX
		mat[4] = originX + x * pixelMeterRatio - $(deviceMarker).width() * markerScale;
		//posY
		mat[5] = originY - y * pixelMeterRatio - $(deviceMarker).height() * markerScale;

		$(deviceMarker).css("transform", arrayToMatrix(mat));	
	});

	//[ "1.1",	"0", 	"0", 	"1.1", 	"-87.65", 	"62" ]
	//scaleX	skewX	skewY	scaleY	posX		posY
	</script>
</section>
