<script src="js/plugins/panzoom.js"></script>
<script src="js/plugins/pointertouch.js"></script>
<script src="js/d3.min.js"></script>


{{> rehabilitantlist }}

<div id="right_column">
	<div id="header">
		<h1>Speloverzicht</h1>
	</div>
	<div id="map_info_column">

		<div id="info">
			<!-- 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu urna facilisis, feugiat orci in, semper mi. Praesent eu felis erat. Sed tristique lectus et justo porta, at bibendum dui 
		-->
	</div>
</div>
<div id="legend">
	<div id="game_timer">
		20:01
	</div>
	<div>
		<div id="phase1">
			KOUD
		</div>
		<div id="phase2">
			GOED
		</div>
		<div id="phase3">
			WARM
		</div>
	</div>
</div>


<section id="inverted-contain">
	<div style="overflow: hidden; position: relative;" class="panzoom-parent">
		
			<div class="panzoom" style="width:1700px;">
			<svg width="500px" height="800px" style="position:absolute" id="paths">
			</svg>
			{{#each connectedDevices}}
			<div class="marker" device-id="{{this.id}}" >
				<div style="border-radius: 50%; width:75px; height:75px; background:#FF1D61; opacity:.8;">
				</div>
			</div>
			{{/each}}

			<div id="loadMap" style= "width:1753px; height:1240px; overflow:hidden;">
				<!-- Dont load the map as and SVG, use jquery to insert the code from the SVG file into this div. For better framerate, makes maikel smile :) -->
			</div>
		

		</div>
	</div>
</div>



<style>

#legend{
	width:200px;
	height:110px;
	position: absolute;
	z-index: 99;
	bottom:0px;
	background: rgba(255,255,255,.9);
	padding-left:10px;
	text-align: center;
	padding-top:10px;
}
#phase1{
	width:58px;
	position: relative;
	float:left;
	border-top:10px solid #77a4d6;
	color:#77a4d6;
	font-weight:bold;			
}
#phase2{
	width:58px;
	position: relative;
	float:left;
	border-top:10px solid #fddf29;
	color:#fddf29;
	font-weight:bold;
}
#phase3{
	width:58px;
	position: relative;
	float:left;
	border-top:10px solid #c66958;
	color:#c66958;
	font-weight:bold;
}
#map_info_column{
	width:200px;
	position: absolute;
	z-index: 99;
	background: rgba(255,255,255,.8);
	margin-top:50px;
	padding-bottom:20px;

	padding-left:10px;
}

#info{
	margin-top:20px;
	width:calc(100% - 10px);
	text-align: left;
	font-size:12px;
}
#game_timer{
	margin-top:10px;
	margin-bottom:10px;
	width:calc(100% - 10px);
	border-bottom:1px solid;
	border-top:1px solid;

	text-align: center;
	font-size:32px;
}


#inverted-contain .panzoom-parent
{ 
	width: 100%; 
	height: 100%; 
}
.path{
	background: red;
	position:absolute;

	z-index:999;
	width:100%;
	height:100%;
}
.marker{
	transform: matrix(0.2, 0, 0, 0.2, 500, 400);
	cursor: pointer;
	position: absolute; 
	z-index: 999;
	text-align: center;
}
.marker .heartrate-text{
	color: red;
}
</style>
<script>
$(document).ready(function() {
 	$("#loadMap").load("imgs/views/map/kaart.html"); 
 } );


var temp_data = [];
temp_data = [
{{#each connectedDevices}}
{id:{{this.id}},name:"{{this.rehabilitant.GetFullName}}",diagnose:"{{this.rehabilitant.diagnosis}}",
 min:{{this.rehabilitant.minHeartRate}},max:{{this.rehabilitant.maxHeartRate}},loc:[
	{{#each this.rehabilitant.states}}
	{t:{{this.timestamp}},h:{{this.heartRate}},x:{{mapX}},y:{{this.mapY}} },
	{{/each}}
	]},
{{/each}}
];

var all_revs = [];

var colors = ["#0281A1","#FFFF03","#B80202"];

{{#each connectedDevices}}
createPath(temp_data[{{@index}}]);
{{/each}}

function createPath(_userData){
	var path = "";
	var prevColor = undefined;
	var prevHeartRate = undefined;
	for(var i = 0; i < _userData.loc.length; i++){
		var color = undefined;

		if(_userData.loc[i].h < _userData.min){
			color = colors[0];
			console.log('low')
		}else if(_userData.loc[i].h > _userData.max){
			color = colors[2];
			console.log('high')

		}else{
			color = colors[1];
			console.log('normal')

		}

		if(path === ""){
			path += "M";
			prevHeartRate = _userData.loc[i].h;
		}else
{			path += "L";
		}
		path += _userData.loc[i].x+" ";
		path += _userData.loc[i].y+" ";
		;

		if(prevColor !== color || prevColor !== undefined){
			drawPath(path,prevColor,prevHeartRate);
			path = "";
			path += "M";
			path += _userData.loc[i].x+" ";
			path += _userData.loc[i].y+" ";
		}
		path += " ";
		prevColor = color;
		console.log(" ");
	}

	//	drawPath(path,color);
};

function drawPath(_path,_color,_avrHeartrate){
	var pathContainer = d3.select("#paths");
	pathContainer.append("svg:path")
	.attr("d",_path)
	.attr("stroke",_color)
	.attr("title",_avrHeartrate)
	.attr("stroke-width",7)
	.attr("fill","none")
	.attr("stroke-linejoin","round")
	.attr("stroke-linecap","round")
	;
}
$('#map').bind('click', function(){
	console.log('clear')
	$('.drag_box').css('opacity', '1');
	$('#info').empty();

});

$('.marker').bind('touchend click', function(){
	var markerId = $(this).attr('device-id')
	;			$('.drag_box').each(function(){
		var dragBoxId = $(this).attr('device-id');
		if(dragBoxId === markerId){
							//-- change player info
							for(var i = 0; i < temp_data.length; i++){
								console.log(temp_data[i].id);
								if(temp_data[i].id === parseInt(markerId)){
									displayInfo(temp_data[i]);
								}
							}
							//
							$(this).css('opacity', '1');
						}else{
							$(this).css('opacity', '.3');
						}
						
					});
});


$('.drag_box').bind('tap click', function(){
	console.log('clicked on dragBox');
	var dragBoxId = $(this).attr('device-id');
	for(var i = 0; i < temp_data.length; i++){
		if(temp_data[i].id === parseInt(dragBoxId)){
			displayInfo(temp_data[i]);
		}
	}
	if(temp_data.length < parseInt(dragBoxId)){
		$('#info').empty();
	}
	$('.drag_box').each(function(){
		if(dragBoxId === $(this).attr('device-id')){
			$(this).css('opacity', '1');
		}else{
			$(this).css('opacity', '.3');

		}
	});
});


function displayInfo(_idData){
	$('#info').empty();
	$('#info').append("<h3>" + _idData.name + "</h3>");
	$('#info').append("<p>" + _idData.diagnose + "</p>");
	//			$('#info').append("<p>" + _idData.diagnose + "</p>");
}
		//----

var pixelMeterRatio = 1.73;
var originX = 745;
var originY = 918;

var markerScale = 0.5;
		
(function() {	
	var $section = $('#inverted-contain');
	$section.find('.panzoom').panzoom({
		$zoomIn: $section.find(".zoom-in"),
		$zoomOut: $section.find(".zoom-out"),
		$zoomRange: $section.find(".zoom-range"),
		$reset: $section.find(".reset"),
		startTransform: 'scale(1.1)',
		increment: 0.1,
		minScale: 1,
		contain: 'invert',
		onChange: function(e, panzoom){
			scale = panzoom.getMatrix()[0];
			$(".marker").each(function(idx, elem){
				var mat = matrixToArray($(elem).css("transform"));

			//scaleX
			mat[0] =0.5 * 1/scale;
			//scaleY
			mat[3] =0.5 * 1/scale;

			$(elem).css("transform", arrayToMatrix(mat));
			//test({device_id: 1, heartrate: 89, x: 47.15, y:-41.17});
		});
		}
	}).panzoom('zoom');
	
	$('div.panzoom-parent').on('mousewheel.focal', function(e) {
		e.preventDefault();
		var delta = e.delta || e.originalEvent.wheelDelta;
		var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
		
		$section.find('.panzoom').panzoom('zoom', zoomOut, {
			increment: 0.1,
			focal: e
		});
	});
	
	var dbPath
})();

function matrixToArray(str) {
	return str.match(/(-?[0-9\.]+)/g);
}
function arrayToMatrix(arr){
	var str = "matrix(";
		return str + arr[0] +","+arr[1]+","+arr[2]+","+arr[3]+","+arr[4]+","+arr[5]+")";
}

socket.on('dataClient', function(data){
	var device_id = parseInt(data.device_id);
		//var lat = parseFloat(data.lat);
		//var lon = parseFloat(data.lon);
		var x = parseFloat(data.x);
		var y = parseFloat(data.y);
		
		var heartrate = parseInt(data.heartrate);
		
		console.log("id: " + device_id + " - position: " + x + "  " + y);
		console.log("heartrate: " + heartrate);
		
		var deviceMarker = $(".marker[device-id='"+device_id+"']");
		$(deviceMarker).find(".heartrate-text").text(heartrate); 
		
		var mat = matrixToArray($(deviceMarker).css("transform"));

		//posX
		mat[4] = originX + x * pixelMeterRatio - $(deviceMarker).width() * markerScale;
		//posY
		mat[5] = originY - y * pixelMeterRatio - $(deviceMarker).height() * markerScale;

		$(deviceMarker).css("transform", arrayToMatrix(mat));	

		createPath({id:device_id, name:"test",diagnose:"boeie",min:120,max:160,loc:[{t:undefined,h:heartrate,x:x,y:y}]});
	});

	//[ "1.1",	"0", 	"0", 	"1.1", 	"-87.65", 	"62" ]
	//scaleX	skewX	skewY	scaleY	posX		posY
	</script>
</section>
