<script src="js/Sortable.js"></script>

<style>

#mover{
    height: auto;
    overflow: auto;
}

.verticalScroll[type=range]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 50px;
    position: absolute;
    height: 100%;
    z-index: 100000;
    opacity: 0.001;
    margin-left: -15px;

}

.scrollbarThumb{
    width:20px;
    height:30px;
    position: fixed;
    left: 230px;
    background-color: #689595;
    z-index:10;
}

.scrollbarBG{
    height: 100%;
    width:20px;
    background-color: #ededed;
    position: fixed;
    left: 230px;
    border: 1px solid #dedede
    
}

.buttonBar{
    position: fixed;
    width: calc(100% - 240px);
    text-align: center;
    bottom:10px;
    right:0;
}
.buttonsWrapper{
    width: 500px;
    height: 100%;
    margin:0 auto;
}

.reset{
    background-image: url(imgs/views/overview/Button_Reset.png);
    height: 75px;
    display: block;
    width:194px;
    float: left;
    font-size: 24px;
    color:#fff;
    font-family: bebas, impact, sans-serif;
}

.doorgaan{
    background-image: url(imgs/views/overview/Button_Doorgaan.png);
        height: 75px;
    width: 304px;
    float: left;
    border: 0;
    display: block;
    background-color:transparent;
    margin-left: -40px;
    font-size: 24px;
    color:#fff;
    font-family: bebas, impact, sans-serif;

}

.enabled{
    background-image: url(imgs/views/overview/Button_Doorgaan2.png);

}




</style>


    <div class="scrollbarBG">
        <div class="scrollbarThumb"></div>
    <input type="range" class="verticalScroll" id="scroller" value = "1000" min="0" max="1000" oninput="scroll(this.value)"/></div>


<div id="rev_list" style="overflow:hidden;">

    

    


    <div id = "mover">
    <ul class="drop_box" style="height:auto;">
        {{#each rehabilitants}}
        {{#notIn ../game.connectedDevices}}
        <li class="drag_box" userID="{{this.id}}" >
            <input class="id-holder" type="hidden" name="rehabilitant_id" value="{{this.id}}"/>
            <div class= "img_container_small" >
                    <div class="hexagon_small">
                        <img src="{{this.pictureUrl}}">
                    </div>
                </div>
            <h3>{{this.GetFullName}}</h3>   
        </li>
        {{/notIn}}
        {{/each}}

        

    </ul>
</div>
</div>


<form action="/pair_devices" method="POST">
    <div id='available_pods'>
        {{#each game.connectedDevices}}
        <div data-device-id="{{this.id}}" class="drop_box_container">
            <p>
                <input type="hidden" name="device[{{@index}}]_[id]" value="{{this.id}}"/>
                {{this.id}}
            </p>
            <ul class="drop_box">
                {{#if this.rehabilitant.id}}
                {{#with this.rehabilitant}}
                <li class="drag_box" userID="{{this.id}}" >
                    <input class="id-holder" type="hidden" name="rehabilitant_id" value="{{this.id}}"/>
                    <div class= "img_container_small" >
                            <div class="hexagon_small">
                                <img src="{{this.pictureUrl}}">
                            </div>
                        </div>
                    <h3>{{this.GetFullName}}</h3>   
                </li>
                {{/with}}
                {{/if}}
            </ul>
        </div>
    {{/each}}
    {{#unless game.connectedDevices}}
    <center>
        <h1>Wachten op devices...</h1>
    </center>
    {{/unless}}
</div>
</div>


    <div class="buttonBar">
        <div class="buttonsWrapper">
        <div class="reset"><button class="nostyle" text="Reset">Reset</button></div>
        <div class="doorgaan enabled">
            <input type="submit" value="{{#hasGame}}Koppel apparaten{{else}}Start Game{{/hasGame}}" onClick="menuHighlight('map')" class="nostyle"/>
        </div>
    </div>
    </div>
</form>




<script type="text/javascript">

var maxScrollvalue = 1000;
var moverHeight = parseInt($('#mover').css('height').replace("px", ""));
var h = parseInt($("#rev_list").css('height').replace("px",""));
var scrollbarHeight = parseInt($('.verticalScroll').css('height').replace('px',""));
var thumbHeight = parseInt($('.scrollbarThumb').css('height').replace("px", ""));



function scroll(val){
    if (moverHeight > h){
        var marginTop = parseInt($('#mover').css('margin-top').replace("px", ""));
        val = maxScrollvalue - val;
/// val /1000 * new max
        var newVal = (val/maxScrollvalue) * (moverHeight-h);
        var newThumbLoc = (val/maxScrollvalue) * (scrollbarHeight-thumbHeight);
        $('#mover').css('margin-top', newVal*-1);
        $('.scrollbarThumb').css('margin-top', newThumbLoc);
    }
}

$(document).ready(function(){
    if (moverHeight<h){
    $('.scrollbarBG').css('display', 'none');
    $('.doorgaan').button("disable")


}

    resort();
});


function resort(){
    $('.drop_box').sortable({
        connectWith: ".drop_box",
        revert:true,
        receive: function(event, ui)
        {
            var list = $(this);
            if (list.attr('id') != "draglist") {
                console.log(list.children())
                if (list.children().length > 1) {
                    // move item back to main_list
                    $(ui.sender).sortable('cancel');
                }
            }
            pairDevices();
        }
    }).disableSelection();
}

function pairDevices(){
    $('.drop_box_container').each(function(idx,elem){
        var rehabilitant = $(elem).find('.drag_box .id-holder');
        var originalName = $(rehabilitant).attr('name');
        
        if(rehabilitant.length == 1){
            originalName = originalName.replace(/device\[[0-9]+\]_\[/,'').replace(']','');
                
            $(rehabilitant).attr('name', 'device['+idx+']_['+originalName+']');
        }
    });
    
    $('.id-holder').each(function(idx,elem){
        var container = $(elem).closest('.drop_box_container');
        var originalName = $(elem).attr('name');
        
        if(container.length == 0)
            $(elem).attr('name', originalName.replace(/device\[[0-9]+\]_\[/,'').replace(']',''));
    });
}

socket.on('newDeviceConnected', function(connectedDeviceId){
    var templatePodHtml = '<div data-device-id="%id%" class="drop_box_container"> \
        <input type="hidden" name="device[%index%]_[id]" value="%id%"/> \
        <p> \
            %id% \
        </p> \
        <ul class="drop_box"> \
        </ul> \
    </div>';
    
    var index = $("#available_pods div[data-device-id]").length; 
    $("#available_pods").append(templatePodHtml.replace(/%id%/g, connectedDeviceId).replace(/%index%/g,index));
    resort();
});

socket.on('deviceDisconnected', function(deviceId){
    $("#available_pods div[data-device-id='"+deviceId+"']").remove();
    resort();
});

</script>