<div id="rev_list">
    <ul id="draglist" style="height:280px">
        
        {{#each rehabilitants}}
        <li class="drag_box" userID="{{this.id}}" >
            <img src="{{this.pictureUrl}}">
            <h2>{{this.GetFullName}}</h2>   
        </li>
        {{/each}}
    </ul>
</div>
<div id='available_pods'>
    {{#each game.connectedDevices}}
    <div class="drop_box_container">
        <p>
            {{this.id}}
        </p>
        <ul class="drop_box">
        </ul>
    </div>
    {{/each}}
</div>


<script src="js/Sortable.js"></script>


<script type="text/javascript">


$(document).ready(function(){
    resort();
});

function resort(){
    $('ul').sortable({
        connectWith: "ul",
        revert:true,
        receive: function(event, ui)
        {
            var list = $(this);
            if (list.attr('id') != "draglist") {
                console.log(list.children())
                if (list.children().length > 1) {
                    // move item back to main_list
                    $(ui.sender).sortable('cancel');
                }
            }
        }
    }).disableSelection();
}

socket.on('newDeviceConnected', function(connectedDeviceId){
    var templatePodHtml = '<div class="drop_box_container"> \
        <p> \
            %id% \
        </p> \
        <ul class="drop_box"> \
        </ul> \
    </div>';
     $("#available_pods").append(templatePodHtml.replace('%id%', connectedDeviceId));
     resort();
});

</script>