<script src="js/Sortable.js"></script>
<div id="rev_list">
    
    <ul class="drop_box" style="height:280px">
        {{#each rehabilitants}}
        <li class="drag_box" userID="{{this.id}}" >
            <div class= "img_container_small" >
                    <div class="hexagon_small">
                        <img src="{{this.pictureUrl}}">
                        </div>
                </div>
            <h3>{{this.GetFullName}}</h3>   
        </li>
        {{/each}}



       




    </ul>
</div>



<div id='available_pods'>
    {{#each game.connectedDevices}}
    <div data-device-id="{{this.id}}" class="drop_box_container">
        <p>
            {{this.id}}
        </p>
        <ul class="drop_box">
        </ul>
    </div>
    {{/each}}
    {{#unless game.connectedDevices}}
    <center>
        <h1>Wachten op devices...</h1>
    </center>
    {{/unless}}
</div>
<div style="position:fixed; bottom:20%; width:100%; text-align:center;">
    <a href="javascript:sendstart();" class="btn btn-primary" onClick="menuHighlight('map')">Start Game</a>
</div>




<script type="text/javascript">


$(document).ready(function(){
    resort();
});

var socket = io.connect();

function sendstart(){
    socket.emit('pressedStart',"aids");
    window.location = '/map_v2';
}

function resort(){
    $('.drop_box').sortable({
        connectWith: ".drop_box",
        revert:true,
        receive: function(event, ui)
        {
            var list = $(this);
            if (list.attr('id') != "draglist") {
                console.log(list.children())
                if (list.children().length > 1) {
                    // move item back to main_list
                    $(ui.sender).sortable('cancel');
                }
            }
        }
    }).disableSelection();
}

socket.on('newDeviceConnected', function(connectedDeviceId){
    var templatePodHtml = '<div data-device-id="%id%" class="drop_box_container"> \
        <p> \
            %id% \
        </p> \
        <ul class="drop_box"> \
        </ul> \
    </div>';
     $("#available_pods").append(templatePodHtml.replace(/%id%/g, connectedDeviceId));
     resort();
});

socket.on('deviceDisconnected', function(deviceId){
    $("#available_pods div[data-device-id='"+deviceId+"']").remove();
    resort();
});

</script>