
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script>$('.ui-slider-handle').draggable();</script>

<style type="text/css">
	.center_content{
		margin: 0px auto;  
		display: block;
	}
	.form_container{
		width: auto;
		height:auto; 
		min-width: 1052px; 
		display: inline-block; 
		margin-left: 0px auto; 
		margin-right: 0px auto; 
		overflow:scroll; 
		margin-top:10px; 
		font-size: 12px;
	}
	.form_wrapper{
		width: 350px; 
		overflow:hidden; 
		float: left; 
		padding:20px;
	}
	table{ 
		font-size: 12px;
	}
	td{
		padding: 5px;
	}

	input[type="radio"]{
		visibility: hidden; 
		margin-left: 0px; 
		display: none;
	}
	hr{
		border-top: 1px solid #ffffff; 
		border-bottom: 1px solid #ebebeb; 
		width:90%;
	}
	.btn-file {
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
	textarea{
		resize:none;
	}


</style>


<center>
	
	<div class= "form_container">

		{{#if rehabilitant.id}}
		<form action="/update_rehabilitant" method="post">
		{{else}}
		<form action="/add_rehabilitant" method="post">		
		{{/if}}
			<input type="hidden" name="id" value="{{rehabilitant.id}}"/>
			<div class="form_wrapper">

				<div class="img_container">

					<div class="hexagon" id="pUrl">
						<img id="profile_pic" src="{{rehabilitant.pictureUrl}}" alt="" class="tall"/>
					</div> 
					<input type="hidden" name="picture_url" value="{{rehabilitant.pictureUrl}}"/>

				</div>
				<br>
				<br>
				<label class="btn btn-default" onClick="clearPictureClass()">
					Upload foto
					<div style="height:0; overflow:hidden;">
						<input id="fileUpload" name='avatar' type='file' accept="image/*" class="btn-file" style="height=0" capture="camera"/>
					</div>
				</label>
			</div>
			<div class="form_wrapper">
				<table >  
					<tr>
						<td>Voornaam:</td>
						<td><input type="text" name="first_name" class="form-control" value="{{rehabilitant.firstName}}"></td>
					</tr>
					<tr>
						<td>Achternaam:</td>
						<td><input type="text" name="last_name" class="form-control" value="{{rehabilitant.lastName}}"></td>
					</tr>
					<tr>
						<td>Geboortedatum:</td>
						<td><input type="date" name="date_of_birth" class="form-control" value="{{rehabilitant.dateOfBirth}}"></td>
					</tr>
					<tr>
						<td>Geslacht:</td>
						<td>
							<div data-toggle="buttons">
								<label class="btn btn-default {{#if rehabilitant.IsMale}}active{{/if}}"> <input type="radio" name="gender" value="M" {{#if rehabilitant.IsMale}}checked{{/if}}/> Man </label>
								<label class="btn btn-default {{#if rehabilitant.IsFemale}}active{{/if}}"> <input type="radio" name="gender" value="F" {{#if rehabilitant.IsFemale}}checked{{/if}}/> Vrouw </label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Functie:</td>
						<td> <input type="text" name="function" class="form-control" value="{{rehabilitant.function}}"/></td>
					</tr>
					<tr>
						<td>Doel:</td>
						<td><textarea name="goal" class="form-control" rows="3">{{rehabilitant.goal}}</textarea></td>

						<!--
						<td>Trajectduur: </td>
						<td>
							<div data-toggle="buttons">
								<label class="btn btn-default {{#if rehabilitant.DurationShort}}active{{/if}}"> <input type="radio" name="course_duration" value="8" {{#if rehabilitant.DurationShort}}checked{{/if}}/>8 weken </label>
								<label class="btn btn-default {{#if rehabilitant.DurationLong}}active{{/if}}"> <input type="radio" name="course_duration" value="15" {{#if rehabilitant.DurationLong}}checked{{/if}}/>15 weken </label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Cluster:</td>
						<td>
							<div data-toggle="buttons">
								<label class="btn btn-default"> <input type="radio" name="cluster" value="1" /> 1 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="2" /> 2 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="3" /> 3 </label>
							<br>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="4" /> 4 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="5" /> 5 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="6" /> 6 </label>
							</div>
						</td>-->
					</tr>
					<tr>
					<td>
						 Selecteer groep:
					</td>
					<td>
						<label for="selectedGroup"></label>
						<select class="form-control" name="group_id">
							{{#each groups}}
    						<option {{#equals ../rehabilitant.groupId this.id}}selected{{/equals}} value="{{this.id}}" >{{this.name}}</option>
    						{{/each}}
  						</select>
					</td>
				</tr>
				</table>
			</div>
		<div class= "form_wrapper" style="text-align:left;">
			<table width="100%">
				<tr>
					<td>Diagnose: 
						<textarea name="diagnosis" class="form-control" rows="3">{{rehabilitant.diagnosis}}</textarea>
					</td>
				</tr>
				<tr>
					<td>Trajectduur:
							<div data-toggle="buttons">
								<label class="btn btn-default {{#if this.DurationShort}}active{{/if}}"> <input type="radio" name="course_duration" value="8" {{#if this.DurationShort}}checked{{/if}}/>8 weken </label>
								<label class="btn btn-default {{#if this.DurationLong}}active{{/if}}"> <input type="radio" name="course_duration" value="15" {{#if this.DurationLong}}checked{{/if}}/>15 weken </label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Cluster:
							<div data-toggle="buttons">
								<label class="btn btn-default"> <input type="radio" name="cluster" value="1" /> 1 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="2" /> 2 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="3" /> 3 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="4" /> 4 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="5" /> 5 </label>
								<label class="btn btn-default"> <input type="radio" name="cluster" value="6" /> 6 </label>
							</div>
						</td>
				</tr>
				<tr>
					<td>
						<p>
							<label for="amount">Hartslag:</label>
							<p id ="hartslag_range"></p>
						</p>
						<div id="slider-range"></div>
						<input type="hidden" name="min_heartrate" value="{{rehabilitant.minHeartRate}}"/>
						<input type="hidden" name="max_heartrate" value="{{rehabilitant.maxHeartRate}}"/>
					</td>
				</tr>
				
			</table>
		</div>

		<br>
		<input type="button" value="Annuleren" class="btn btn-default" data-dismiss="modal"/>
		<input type="submit" value="Opslaan" class="btn btn-primary"/>
		</form>
	</div>

</center>

<script>


$( "#profile_pic" ).load(function() {
  $('#pUrl').find('img').each(function() {
        //var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
        var imgClass;
        if (this.width>this.height) {imgClass = 'wide';}
        else{imgClass = 'tall';}
        $(this).addClass(imgClass);
    })
});

function clearPictureClass(){
	$('#pUrl').find('img').each(function() {
		$(this).removeAttr('src');
		$(this).removeClass();
	})
}
	function readURL(input) {

		if (input.files && input.files[0]) {

			var img = document.createElement("img");
			var reader = new FileReader();
			reader.onload = function (e) {
				img.src = e.target.result;

				$('input[name="picture_url"]').val(e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}
	}
	
	var cluster;
	function updateCluster(val) {
		cluster = parseInt(val);
		document.getElementById("cluster_text").innerHTML = "Gekozen cluster: " + cluster;
	}
	
	$(function() {
		var minVal = 80;
		var maxVal = 180;

		{{#if this.id}}
			minVal = $("input[name='min_heartrate']").val();
			maxVal = $("input[name='max_heartrate']").val();
		{{/if}}
		

		
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 250,
			values: [ minVal, maxVal ], //GET VALUES
			slide: function( event, ui ) {
				setHeartRateValues(ui.values);
			}
		});
		
		setHeartRateValues($("#slider-range").slider("values"));
		
		function setHeartRateValues(values){
			$("#hartslag_range").html("Minimale hartslag: " + values[0] + " - maximale hartslag: " + values[1]);
				
			$("input[name='min_heartrate']").val(values[0]);
			$("input[name='max_heartrate']").val(values[1]);
		}
		
		//prevent accidental form submit on enter
		$(window).keydown(function(event){
			if( (event.keyCode == 13) ) {
				event.preventDefault();
				return false;
			}
		});
		
		$("#fileUpload").on("change", function(e){
			var formData = new FormData();
			formData.append('avatar', $("#fileUpload")[0].files[0]);
			
			$.ajax({
				type: 'POST',
				data: formData,
				url: '/upload',
				contentType: false,	
				processData: false,				
				success: function(data) {
					$('#profile_pic').attr('src', data.path);
					$('input[name="picture_url"]').val(data.path);
				},
				error: function(err){
					console.log(err);
				}
			});
		});
	});



</script>